In [7]:
import pandas as pd
df = pd.read_table("C:/Users/sivar/Downloads/car.data", sep=",", names=["buying", "maintenance", "doors", "persons", "lug_boot", "safety", "evaluation"])
df.head()

  buying maintenance doors persons lug_boot safety evaluation
0  vhigh       vhigh     2       2    small    low      unacc
1  vhigh       vhigh     2       2    small    med      unacc
2  vhigh       vhigh     2       2    small   high      unacc
3  vhigh       vhigh     2       2      med    low      unacc
4  vhigh       vhigh     2       2      med    med      unacc

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying         1728 non-null object
maintenance    1728 non-null object
doors          1728 non-null object
persons        1728 non-null object
lug_boot       1728 non-null object
safety         1728 non-null object
evaluation     1728 non-null object
dtypes: object(7)
memory usage: 94.6+ KB

In [10]:
df["buying"].value_counts()

low      432
high     432
med      432
vhigh    432
Name: buying, dtype: int64

In [11]:
df["maintenance"].value_counts()

low      432
high     432
med      432
vhigh    432
Name: maintenance, dtype: int64

In [12]:
df["lug_boot"].value_counts()

big      576
small    576
med      576
Name: lug_boot, dtype: int64

In [13]:
df["safety"].value_counts()

low     576
high    576
med     576
Name: safety, dtype: int64

In [14]:
df.describe()

       buying maintenance doors persons lug_boot safety evaluation
count    1728        1728  1728    1728     1728   1728       1728
unique      4           4     4       3        3      3          4
top       low         low     4       4      big    low      unacc
freq      432         432   432     576      576    576       1210

In [22]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size = 0.2, random_state=42)